html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a{
  text-decoration: none;
}

.visually-hidden{
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0,0,0,0);
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.width-50 {
  width: 50%;
}

.height-100 {
  height: 100%;
}

/*Главное меню */

.main-header {
  padding: 50px 0 0 0;

  background-color: #eeeeee;
}

.main-header-logo {
  display: inline-block;
  max-width: 160px;
}

.main-header-logo img {
  display: block;
  width: 100%;
  opacity: 1;
}

.main-header-logo:hover img {
  opacity: .8;
}

.main-header-logo:active img {
  opacity: .3;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-navigation {
  display: flex;
  list-style: none;
  margin: 17px 33px 0 0;
  padding: 0;
}

.site-navigation-item:not(:last-child) {
  margin: 0 46px 0 0;
}

.site-navigation:last-child {
  margin-right: 0;
}

.site-navigation a {
  padding: 10px 0;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fb565a;
  list-style: none;
}

.site-navigation a:active{
  color: rgba(0, 0, 0, .3);
}

.site-navigation a.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.site-navigation a.cart-icon {
  padding-left: 50px;
  background-image: url('../img/cart-icon.svg');
  background-size: 15px 15px;
  background-position: 10px;
  background-repeat: no-repeat;
}

/*Слайдер*/
.slider-container {
  padding: 0 0 80px 0;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  box-sizing: content-box;
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slider-phones.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slider-pc.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slider-tablet.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 15px 55px;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #eee;

  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 0, 0, .1);
}

.button:active {
  background-color: rgba(0, 0, 0, .1);
  box-shadow: 0 3px rgba(0, 0, 0, .1) inset;
  color: rgba(0, 0, 0, .2);
}

.button.active {
  background-color: #ffffff;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, .1) inset;
  /* border: 3px solid rgba(0, 0, 0, .1); */
}

.button.red {
  background-color: #fb565a;
  color: #ffffff;
}

.button.red:hover,
.button.red:focus {
  background-color: #e74246;
}

.button.red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button.green {
  background-color: #00ca74;
  color: #ffffff;
}

.button.green:hover,
.button.green:focus {
  background-color: #00bc6c;
}

.button.green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button.yellow {
  color: #ffffff;
  background-color: #efc84a;
}

.button.yellow:hover,
.button.yellow:focus {
  background-color: #eab534;
}

.button.yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

/* Услуги */

.services {
  padding-bottom: 80px;
  border-bottom: 1px solid #eee;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-item {
  max-width: 300px;
  margin: 0 100px 0 0;
}

.service-item:last-child {
  margin: 0;
}

.service-item h3 {
  margin: 0 0 15px 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.service-item p {
  margin: 0 0 33px 0;
  max-width: 275px;
}

.service-item img {
  width: 100%;
  margin: 0 0 20px 0;
}

.service-item .button {
  padding: 15px 38px;
}

/*Коротко о студии */
.studio-about{
  display: flex;
  padding: 30px 0 50px;
  border-bottom: 1px solid #eee;
}

.studio-principles h3{
  font-size: 45px;
  line-height: 45px;
  margin: 45px 0 30px;
  font-weight: 500;
  color: #000000;
}

.studio-principles p{
  margin: 35px 0;
}
.studio-principles .studio-services-label {
  margin: 37px 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}
.studio-services {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.studio-services li{
  text-transform: none;
  font-weight: 400;
  margin: 24px 0;
}
.studio-services li::before {
  content: "";
  width: 25px;
  position: relative;
  top: -0.3em;
  margin-right: 7px;
  display: inline-block;
  border-top: 2px solid #fb565a;
}

.studio-facts{
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin: 11px 0 0 56px;
}

.studio-facts-list{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.fact-item b{
  font-size: 45px;
  font-weight: 700;
  color: #000000;
  margin: 30px 0 30px 0;
}
.studio-facts li{
  text-transform: none;
  font-weight: 400;
  list-style: none;
}

.studio-facts p{
  margin: 30px 0 20px 0;
  text-align: center;
}

.fact-item {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.fact-item sup {
  font-size: 23px;
  font-weight: 400;
}

.fact-item span {
  line-height: 1.1;
}

/* Логотипы */

.brands {
  margin: 0 0 80px 0;
  padding: 40px 0;
  border-bottom: 1px solid #eee;
}

.brands a {
  opacity: 0.2;
  padding: 10px 30px;
  width: 100%;
}

.brands a:not(:last-child) {
  border-right: 1px solid #eee;
}

.brands a:hover {
  opacity: 0.7;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*КАТАЛОГ*/

.catalog-page{
  margin: 0 0 60px 0;
  padding: 80px 0 105px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-align: center;

  background-color: #eeeeee;
}

.catalog-wrapper {
  display: flex;
}

.catalog-wrapper legend{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.paginator {
  margin-bottom: 60px;
}

.paginator a {
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.paginator .button.next {
  margin-right: 0;
  padding-left: 70px;
  padding-right: 70px;
}

/* Стоимость */

.filter-item {
  margin: 0;
  padding: 0;

  border: none;

  width: 260px;
  margin: 0 auto 50px auto;
}

.range-filter {
  width: 260px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: flex;
  align-items: center;
  opacity: .8;
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-size: 25px 25px;
  opacity: .6;
}

input[type="radio"] + label:hover,
input[type="radio"] + label:hover::before {
  opacity: 1;
}

input[type="radio"]:not(:checked) + label::before {
  background-image: url("../img/radio-off.svg");
}

input[type="radio"]:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

input[type="radio"]:disabled + label {
  opacity: .3;
}

input[type="radio"]:disabled + label::before {
  opacity: .3;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: flex;
  align-items: center;
  opacity: .8;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  opacity: .6;
}

input[type="checkbox"] + label:hover,
input[type="checkbox"] + label:hover::before {
  opacity: 1;
}

input[type="checkbox"]:not(:checked) + label::before {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  background-image: url("../img/checkbox-off.svg");
  background-size: 23px 23px;
}

input[type="checkbox"]:checked + label::before {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  background-image: url("../img/checkbox-on.svg");
  background-size: 25px 25px;
}

input[type="checkbox"]:disabled + label {
  opacity: .3;
}

input[type="checkbox"]:disabled + label::before {
  opacity: .3;
}

.filter-item legend {
  margin: 0 0 50px 0;

  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-item .button {
  width: 100%;
}

.filter-category-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-category-item {
  margin: 0 0 10px 0;
}

.range-controls {
  position: relative;

  display: flex;
  align-items: center;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  width: 100%;
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background-color: #c2c2c2;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 120px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.price {
  margin-bottom: 60px;
}
/* Стоимость конец*/

.specialties,
.net {
  line-height: 30px;
  margin-bottom: 30px;
}

.net legend,
.specialties legend {
  margin-bottom: 15px;
}

.catalog-filter {
  margin-right: 140px;
}

.catalog-sort-by{
  display: flex;
  width: 100%;
  margin-bottom: 55px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.catalog-sort-by-title {
  font-weight: 700;
  padding: 0 15px 0 0;
}

.catalog-sort-by-values {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 15px;
}

.catalog-sort-by a {
  margin-right: 25px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}

.catalog-sort-by a:last-child {
  margin: 0;
}
.catalog-sort-by a:hover{
  color: #000000;
  opacity: 0.6;
}
.catalog-sort-by a:focus,
.catalog-sort-by a:active{
  color: #000000;
  opacity: 1;
}

.arrow {
  display: inline-block;
  width: 11px;
  height: 10px;
}

.arrow-up {
  background-image: url("../img/icon-up-dir.svg");
  background-size: cover;
}

.arrow-down {
  background-image: url("../img/icon-down-dir.svg");
  background-size: cover;
}

.catalog {
  width: 100%;
}

.catalog-list {
  margin-bottom: 28px;
  padding: 0;
  width: 100%;
}

.catalog-item {
  width: 360px;
  display: inline-block;
  margin: 0px 36px 26px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-content {
  position: relative;
}

.catalog-item:hover .hidden-info {
  display: block;
}

.catalog-item:hover .catalog-item-header {
  opacity: 1;
}

.catalog-item h3 {
  margin: 0;
}

.catalog-item p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  color: #666666;
}

.catalog-image {
  display: block;
  width: 100%;
}

.catalog-item-header {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px 5px 0 0;
  opacity: .4;
}

.catalog-item-header::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/browser.svg");
  background-size: contain;
}

.hidden-info {
  position: absolute;
  display: none;
  width: 100%;
  padding: 20px;
  background: #eee;
  bottom: 0;
  text-align: center;
}

/* Карта */

.map {
  position: relative;
  height: 415px;
  background-image: url('../img/map.png');
  background-size: cover;
}

.map p {
  margin: 20px 0;
}

.map-image {
  display: block;
  width: 100%;
}

.map-marker {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 190px;
}

.map-contacts {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  width: 300px;
  height: 320px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  background-image: none;
  background-color: #ffffff;
}

.map-contacts-title {
  margin: 0 0 15px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

/*Футер*/

.social {
  display: flex;
  padding: 60px 0;
}

.social-friends-title {
  margin: 10px 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.social-buttons {
  width: 30%;
  display: flex;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  background-color: #e1e1e1;
  border-radius: 50px;
  margin-right: 10px;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, .1) inset;
}

.social-btn:active img {
  opacity: .4;
}
