body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a{
  text-decoration: none;
}

.visually-hidden{
  display: none;
}

/*Главное меню */

.main-navigation{
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
}
.main-header-logo{
  padding: 50px 170px;
}

.site-navigation{
  list-style: none;
  width: 800px;
  margin: 0;
  padding: 0;
  display: flex;
}

.site-navigation-item{
  width: 440px;
  flex-direction: row;
  align-items: center;
}

.site-navigation-item-1{
  align-items: right;
}

.site-navigation a{
  color: #000000;
}

.site-navigation a:hover{
  color: #fb565a;
  list-style: none;
}
.site-navigation a:focus{
  color: #fb565a;
  opacity: 0.3;
}
.site-navigation a:active{
  text-decoration: underline;
}

/*Слайдер*/

.slider-slides{
  background-color: #eeeeee;
  text-align: left;
}
.slider-title{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-slides a{
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: #fb565a;
}

.slider-slides a:hover{
  background-color: #e74246;
}

.slider-slides a:focus{
  background-color: #d7373b;
  opacity: 0.3;
}

/*Услуги*/

.services-list{
  margin: 80px 90px;
  list-style: none;
  display: flex;
}

.service-item{
  padding: 0 50px;
  text-align: left;
}

.service-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.service-item p {
  margin: 0 0 40px 0;
}

.order-website{
  background-color:#fb565a;
}
.order-app{
 background-color: #00ca74;
}
.order-presentation{
  background-color: #efc84a;
}

.order-website,
.order-app,
.order-presentation{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-style: none;
  padding: 20px 40px;
}
.order-website:hover{
  background-color: #e74246;
}
.order-website:focus{
  background-color: #d7373b;
  opacity: 0.3;
}

.order-app:hover{
  background-color: #00bc6c;
}
.order-app:focus{
  background-color: #00aa62;
  opacity: 0.3;
}
.order-presentation:hover{
  background-color: #eab534;
}
.order-presentation:focus{
  background-color: #e5a722;
}
/*Коротко о студии */
.studio-about{
  margin: 80px 90px;
  display: flex;
}

.studio-principles{
  text-align: left;
  margin: 80px 75px 80px 80px;
}
.studio-principles h3{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.studio-principles p{
  margin: 40px 0;
}
.studio-principles .studio-services-label {
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}
.studio-services {
  list-style-type: none;
  padding: 0;
}

.studio-services li{
  text-transform: none;
  font-weight: 400;
  margin: 35px 0;
}
.studio-services li::before {
  content: "";
  width: 25px;
  position: relative;
  top: -0.3em;
  margin-right: 7px;
  display: inline-block;
  border-top: 2px solid #fb565a;
}

.studio-facts{
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin: 40px 80px 80px 75px;
}

.studio-facts-list{
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.fact-item b{
  font-size: 45px;
  font-weight: 700;
  color: #000000;
  margin: 30px 0 30px 0;
}
.studio-facts li{
  text-transform: none;
  font-weight: 400;
  list-style: none;
}

.studio-facts p{
  margin: 40px 0 30px 0;
  text-align: center;
}

.fact-item{
  display: flex;
  flex-direction: column;
}

.fact-item sup {
  font-size: 23px;
  font-weight: 400;
}

.
/*Логотипы*/
.brands{
  opacity: 0.2;
}

/*КАТАЛОГ*/
.catalog-page{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-align: center;

  background-color: #eeeeee;
}

.catalog-wrapper legend{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.net,
.specialties{
  line-height: 20px;
}
.show-button {
  font-weight: 500;
  text-transform: uppercase;
  color: #eeeeee;
}
.show-button:hover{
  color: #dfdfdf;
}
.show-button:active{
  color: #dfdfdf;
  opacity: 0.3;
}
.catalog-sort-by{
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}
.catalog-sort-by a{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}
.catalog-sort-by a:hover{
  color: #000000;
  opacity: 0.6;
}
.catalog-sort-by a:focus,
.catalog-sort-by a:active{
  color: #000000;
  opacity: 1;
}
.catalog-item{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}
.catalog-item p{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  color: #666666;
}
.catalog-item button{
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: #fb565a;
  border-style: none;
}
.catalog-item button:hover{
  background-color: #e74246;
}
.catalog-item button:focus{
  background-color: #d7373b;
}

}

/*Футер*/

.main-footer .aside{
  background-image: url("img/map.png");
  background-position: center;
  background-repeat: no-repeat;
}
.contacts{
  line-height: 18px;
  font-weight: 400;
  color: #666666;

  background-image: none;
  background-color: #ffffff;
}
.contacts-title{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.contacts a{
  color:#ffffff;
  font-weight: 500;
  text-transform: uppercase;
  background-color:#fb565a;
}
.social-friends-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}
.social-btn{
  background-color: #e1e1e1;
}
