* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a{
  text-decoration: none;
}

.visually-hidden{
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0,0,0,0);
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.height-100 {
  height: 100%;
}

/* Сетка */

.grid {
  width: 100%;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.column {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.column-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.column-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.column-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.column-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.column-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.column-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.column-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.column-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.column-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.column-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.column-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.column-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/*Главное меню */

.main-navigation{
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
}

.main-header-logo{
  display: block;
}

.main-header-logo img{
  display: block;
  width: 100%;
}

.site-navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-right {
  justify-content: flex-end;
}

.site-navigation-item:not(:last-child) {
  margin: 0 30px 0 0;
}

.site-navigation-item:not(:last-child) {
  margin: 0 30px 0 0;
}

.site-navigation a{
  color: #000000;
}

.site-navigation a:hover{
  color: #fb565a;
  list-style: none;
}
.site-navigation a:focus{
  color: #fb565a;
  opacity: 0.3;
}
.site-navigation a:active{
  text-decoration: underline;
}

/*Слайдер*/
.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  left: 0;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 0 0;
}

.slider-item:nth-child(1) {
  background-image: url("img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 4px;
  height: 4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 50px;
  line-height: 50px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.slider-image {
  display: block;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*Услуги*/

.services-list{
  list-style: none;
  display: flex;
  padding: 0;
}

.service-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.service-item p {
  margin: 0 0 40px 0;
}

.service-item img {
  width: 100%;
}

.order-website{
  background-color:#fb565a;
}
.order-app{
 background-color: #00ca74;
}
.order-presentation{
  background-color: #efc84a;
}

.order-website,
.order-app,
.order-presentation{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-style: none;
  padding: 20px 40px;
}
.order-website:hover{
  background-color: #e74246;
}
.order-website:focus{
  background-color: #d7373b;
  opacity: 0.3;
}

.order-app:hover{
  background-color: #00bc6c;
}
.order-app:focus{
  background-color: #00aa62;
  opacity: 0.3;
}
.order-presentation:hover{
  background-color: #eab534;
}
.order-presentation:focus{
  background-color: #e5a722;
}
/*Коротко о студии */
.studio-about{
  margin: 80px 90px;
  display: flex;
}

.studio-principles h3{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.studio-principles p{
  margin: 40px 0;
}
.studio-principles .studio-services-label {
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}
.studio-services {
  list-style-type: none;
  padding: 0;
}

.studio-services li{
  text-transform: none;
  font-weight: 400;
  margin: 35px 0;
}
.studio-services li::before {
  content: "";
  width: 25px;
  position: relative;
  top: -0.3em;
  margin-right: 7px;
  display: inline-block;
  border-top: 2px solid #fb565a;
}

.studio-facts{
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin: 40px 80px 80px 75px;
}

.studio-facts-list{
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.fact-item b{
  font-size: 45px;
  font-weight: 700;
  color: #000000;
  margin: 30px 0 30px 0;
}
.studio-facts li{
  text-transform: none;
  font-weight: 400;
  list-style: none;
}

.studio-facts p{
  margin: 40px 0 30px 0;
  text-align: center;
}

.fact-item{
  display: flex;
  flex-direction: column;
}

.fact-item sup {
  font-size: 23px;
  font-weight: 400;
}

/* Логотипы */

.brands {
  margin: 0 0 80px 0;
  padding: 40px 0;
  border-bottom: 2px solid #eee;
}

.brands a {
  opacity: 0.2;
}

.brands a:hover {
  opacity: 0.7;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Каталог*/
.catalog-page{
  margin: 0;
  padding: 80px 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-align: center;

  background-color: #eeeeee;
}

.catalog-wrapper legend{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
/* Стоимость */
.filter-item {
  margin: 0;
  padding: 0;

  border: none;

  width: 260px;
  margin: 50px auto;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}
/* Стоимость конец*/
.net,
.specialties{
  line-height: 20px;
}
.show-button {
  font-weight: 500;
  text-transform: uppercase;
  color: #eeeeee;
}
.show-button:hover{
  color: #dfdfdf;
}
.show-button:active{
  color: #dfdfdf;
  opacity: 0.3;
}
.catalog-sort-by{
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}
.catalog-sort-by a{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}
.catalog-sort-by a:hover{
  color: #000000;
  opacity: 0.6;
}
.catalog-sort-by a:focus,
.catalog-sort-by a:active{
  color: #000000;
  opacity: 1;
}
.catalog-item{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}
.catalog-item p{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  color: #666666;
}
.catalog-item button{
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: #fb565a;
  border-style: none;
}
.catalog-item button:hover{
  background-color: #e74246;
}
.catalog-item button:focus{
  background-color: #d7373b;
}
.catalog-image {
  display: block;
  width: 100%;
}
/* Карта */

.map {
  position: relative;
  height: 500px;
  background-image: url('../img/map.png');
  background-size: cover;
}

.map-image {
  display: block;
  width: 100%;
}

.map-marker {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 190px;
}

.map-contacts {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 320px;
  padding: 50px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  background-image: none;
  background-color: #ffffff;
}

.map-contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.map-contacts a {
  color:#ffffff;
  font-weight: 500;
  text-transform: uppercase;
  background-color:#fb565a;
}

/*Футер*/

.social-friends-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}
.social-btn{
  background-color: #e1e1e1;
}
